.sandbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 640px;
  height: 640px;
  padding: 0px;
  margin: auto;
}

.square {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  background-color: blue;
  flex-grow: 1;
  box-sizing: border-box;
  aspect-ratio: 1;
}

.square:hover,
.active {
  background-color: green;
}

.panel {
  background-color: coral;
  box-shadow: 2px 2px 4px 4px blue;
  display: flex;
  width: 420px;
  justify-content: space-around;
  align-items: center;
  padding: 0 50px;
  margin: auto;
}
