body {
  display: flex;
  flex-direction: column;
}

.sandbox {
  display: flex;
  width: 640px;
  height: 640px;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.square-container {
  display: flex;
}

.square {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  background-color: grey;
}

.square:hover {
  background-color: green;
}
